.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 0.8rem;
  margin: 0;
}

.button {
  background-color: #5783db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonSecondary {
  background-color: transparent;
  border: none;
  color: #ed0800;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
